<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="sub1">
    <div>
      <h2>Checkbox</h2>
      <mat-checkbox #showDetails [value]="" [checked]="isChecked" (change)="onChange($event)">Show Details</mat-checkbox>

      <div *ngIf="showDetails.checked">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus itaque eaque id vero consequuntur architecto labore
          possimus placeat necessitatibus accusantium ea distinctio officiis dolorem temporibus rem, sed modi harum totam.</p>
      </div>
    </div>

    <div>
      <h2>Radio Group</h2>
      <mat-radio-group value="1">
        <mat-radio-button value="1">Option 1</mat-radio-button>
        <mat-radio-button value="2">Option 2</mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <h2>Select group</h2>
      <mat-select [(ngModel)]="color">
        <mat-option *ngFor="let color of colors" [value]="color.id"> {{ color.name }} </mat-option>
      </mat-select>
    </div>

    <div>
      <h2>Input Fields</h2>
      <mat-input-container>
        <input ngModel
        name="username"
        maxlength="12"
        #username
        type="text" 
        matInput     
        placeholder="Username" 
        required>
        <mat-hint align="start"><strong>chose a unique username.</strong></mat-hint>
        <mat-hint align="end"> {{ username.value.length }}/12 </mat-hint>
        <span matSuffix >@domain.com</span>
        <mat-error *ngIf="username.invalid && username.errors.required" >
          The username field is required
        </mat-error>
      </mat-input-container>
    </div>
    <div>
      <h2>Textarea</h2>    
    <mat-input-container>
      <textarea matInput matTextareaAutosize rows="2"></textarea>
      </mat-input-container>  
    </div>

    <div>
      <h2>Date Picker</h2>
      <mat-form-field>
        <input 
        matInput
        [matDatepickerFilter]="myFilter"
        [min]="myDate"
        [matDatepicker]="birthdate"
        placeholder="Choose a date" >
        <mat-datepicker-toggle
        matSuffix    
        [for]="birthdate"></mat-datepicker-toggle>    
      <mat-datepicker #birthdate touchUi="true"></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <h2>Material Icon</h2>
      <mat-icon>
        add_to_queue
      </mat-icon>
    </div>
    <div>
      <h2>Buttons Material</h2>
      <button color="primary" mat-button>button Primary</button>
      <button color="primary" mat-raised-button>button Raised primary</button>
      <button color="accent" mat-fab><mat-icon>check </mat-icon></button>
      <button color="warn" mat-fab><mat-icon>check </mat-icon></button>
      <button disabled mat-fab><mat-icon>do_not_disturb_off</mat-icon></button>
      <button mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>

  <div class="sub2">
    <mat-chip-list>
      <mat-chip 
      *ngFor="let level of levels"
      (click)="selectLevels(level)"
      [selected]="level.selected"
      > {{ level.name }} </mat-chip>
    </mat-chip-list>


  </div>
</div>